/* .navbar {
  height: 50px;
} */
.container {
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 8px;
  border-radius: 4px;
}
.signup {
  right: 4px;
}
.navbar {
  color: white;
}
/*
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333333;
  white-space: nowrap;
} */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
