 <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="bootnavbar">
  <a class="navbar-brand" href="#">
    <img src="/assets/house.jpg" alt="Logo" style="width:40px;">
  </a>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Real Estate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=''>Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Guest</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Promoted Properties</a></li>
            <li><a class="dropdown-item" href="#pregled">Property search</a></li>
            <!-- <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Stg else</a></li> -->
            <!-- <li class="nav-link dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
              </ul>
            </li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">User</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/korisnik/#addProperty">Add property</a></li>
            <li><a class="dropdown-item" href="/korisnik/#myProperties">My properties</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/korisnik/#approveProperties">Approve property</a></li>
            <!-- <li class="nav-link dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
              </ul>
            </li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Agent</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agent/#approvePropertyAgent">Approve property</a></li>
            <li><a class="dropdown-item" href="/agent/#addPropertyAgent">Add property</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/agent/#chartAgent">Charts</a></li>
            <!-- <li class="nav-link dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
              </ul>
            </li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/#addUserAdmin">Add user</a></li>
            <li><a class="dropdown-item" href="/admin/#deleteUpdateUserAdmin">Delete/update user</a></li>

            <li><a class="dropdown-item" href="/admin/#addPropertyAdmin">Add property</a></li>
            <li><a class="dropdown-item" href="/admin/#approvePropertyAdmin">Approve property</a></li>
            <li><a class="dropdown-item" href="/admin/#chartAdmin">Charts</a></li>
            <!-- <li class="nav-link dropdown">
              <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
              </ul>
            </li> -->
          </ul>
        </li>
        <div class="collapse navbar-collapse"  id="collapsibleNavbar">

		    </div>





      </ul>
      <div class="signup" style="position: absolute; right: 0;">
        <button routerLink='register'>Sign Up</button>
        <button *ngIf='logout_flag==true'  (click)='logout()' >Log out</button>
      </div>

    </div>
  </div>
</nav>







<!-- -----------------------------PROBA----------------- -->

<!-- <nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#">Brand</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
              <a href="#" id="menu"
                  data-toggle="dropdown" class="nav-link dropdown-toggle"
                  data-display="static">Dropdown</a>
              <ul class="dropdown-menu">
                  <li class="dropdown-item dropdown-submenu">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Submenu-1</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item">
                              <a href="#">Item-1</a>
                          </li>
                          <li class="dropdown-item">
                              <a href="#">Item-2</a>
                          </li>
                          <li class="dropdown-item">
                              <a href="#">Item-3</a>
                          </li>
                      </ul>
                  </li>
                  <li class="dropdown-item dropdown-submenu">
                      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Submenu-2</a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-item">
                              <a href="#">Item-1</a>
                          </li>
                          <li class="dropdown-item">
                              <a href="#">Item-2</a>
                          </li>
                          <li class="dropdown-item">
                              <a href="#">Item-3</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link" href="#">Link</a>
          </li>
      </ul>
  </div>
</nav><a href="#">link</a><a href="#">link</a>

<script>
  $('.dropdown-submenu > a').on("click", function(e) {
    var submenu = $(this);
    $('.dropdown-submenu .dropdown-menu').removeClass('show');
    submenu.next('.dropdown-menu').addClass('show');
    e.stopPropagation();
});

$('.dropdown').on("hidden.bs.dropdown", function() {
    // hide any open menus when parent closes
    $('.dropdown-menu.show').removeClass('show');
});


</script> -->


<!--

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main_navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                      Dropdown
                  </a>
                  <ul class="dropdown-menu">
                      <li class="nav-item dropdown">
                          <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                              Dropdown
                          </a>
                          <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li>
                                  <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                              <li class="nav-item dropdown">
                                  <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                      Dropdown
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Action</a></li>
                                      <li><a class="dropdown-item" href="#">Another action</a></li>
                                      <li>
                                          <hr class="dropdown-divider">
                                      </li>
                                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
          </ul>
          <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
</script>
<script src="js/bootnavbar.js"></script>
<script>
  new bootnavbar();
  // (function () {
  // });
</script> -->





<!-- ------------------------------------------------------------------------------------- -->
<!-- <div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container-fluid">
        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="#" class="brand">Project name</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle active" href="#">Go To <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 1</a>
                    <ul class="dropdown-menu submenu-show submenu-hide">
                        <li class="dropdown submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 1.1</a>
                             <ul class="dropdown-menu submenu-show submenu-hide">
                                    <li><a href="#">Level 1.1.1</a></li>
                                    <li><a href="#">Level 1.1.2</a></li>
                                    <li><a href="#">Level 1.1.3</a></li>
                                    <li><a href="#">Level 1.1.4</a></li>
                            </ul>
                        </li>
                        <li class="dropdown submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Level 1.2</a>
                            <ul class="dropdown-menu submenu-show submenu-hide">
                                    <li><a href="#">Level 1.2.1</a></li>
                                    <li><a href="#">Level 1.2.2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Level 1.3</a></li>
                        <li><a href="#">Level 1.4</a></li>
                        <li><a href="#">Level 1.5</a></li>
                    </ul>
                </li>
                <li><a href="#">Other</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
<script>
   jQuery('.submenu').hover(function () {
        jQuery(this).children('ul').removeClass('submenu-hide').addClass('submenu-show');
    }, function () {
        jQuery(this).children('ul').removeClass('.submenu-show').addClass('submenu-hide');
    }).find("a:first").append(" &raquo; ");
</script> -->

<!-- ------------------------------------------------------------------------------------- -->
